@media (max-width: 680px) {
  .contMenu{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-left: 20px;
    gap: 0;
    width: 100%;
  }
}