.App {
  background-color: #00002E;
  min-height: 100vh;
  color: white;
}
.descricao{
  text-align: justify;
}
.duracao{
  font-weight: 600;
  color: teal.300;
}
.containerDuracao{
  display: flex;
  align-items: end;
  align-self: end;
  justify-content: right;
}
.image{
  display: flex;
  justify-content: center;
}

